{% block form %}
    <form class='' action='' method='POST'>
        {% csrf_token %}
        <table>
            {% for f in form %}
                {% for field in f %}
                    <div class="form_field_wrapper">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="field_help">{{ field.help_text}}</div>
                    </div>
            {% endfor %}
            {% endfor %}
            </table>
            
        <button tabindex='0' type='submit'>{{btn_display|default_if_none:'Submit'}}</button>
    </form>
{% endblock form %}
