<nav class='navbar navbar-light navbar-expand-sm' style='background-color: #e3f2fd;'>
    <div class='container-fluid'>
        {% block navItems %}
            <a tabindex='0' class='navbar-brand' hx-get='/' hx-target='#main' hx-swap='innerHTML' hx-push-url='/'>Home</a>
            <a tabindex='0' class='navbar-brand' hx-get='/' hx-target='#main' hx-swap='innerHTML' hx-push-url='/'>About</a>
            {% if user.is_authenticated %}
                <a tabindex='0' class='navbar-brand' hx-get='/invoice/' hx-target='#main' hx-swap='innerHTML' hx-push-url='/invoice'>Invoices</a>
                <a tabindex='0' class='navbar-brand' hx-get='/' hx-target='#main' hx-swap='innerHTML' hx-push-url='/'>{{user.username}}</a>
                {% comment "placeholder here" %}{% endcomment %}
                <a tabindex='0' class='navbar-brand' href='{% url 'logout' %}'>Logout</a>    
            {% else %}
                <a tabindex='0' class='navbar-brand' hx-get='/user/login/' hx-target='#main' hx-swap='innerHTML' hx-push-url='/user/login/'>Sign In</a>    
            {% endif %}
        {% endblock navItems %}
    </div>
</nav>